.editor {
  min-height: 350px;
  max-height: 350px;
  height: 350px;
  overflow-y: auto;
  padding: 10px;
  border-radius: 10px;
  background-color: #121417;

  & > * {
    height: calc(100% - 20px);
  }
}

.red {
  background-color: red;

  &:hover {
    background-color: darken($color: red, $amount: 4);
  }
}